<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duode.mapper.AdvertiseMapper">
 
    <select id="findAdvertise" resultType="com.duode.model.Advertise">
      select * from advertise where id=#{id}
    </select>

    <insert id="addAdvertise">
    insert into advertise(
        `name`,
        advertiser_id,
        comment,
        status,
        advertise_url,
        create_time,
        modify_time
    )
    values (
        #{advertise.name},
        #{advertise.advertiser_id},
        #{advertise.comment},
        #{advertise.status},
        #{advertise.advertise_url},
        now(),
        now()
    )
    </insert>

    <update id="updateAdvertise">
        UPDATE advertise
        SET status = #{advertise.status},
        `name` = #{advertise.name},
        advertise_url = #{advertise.advertise_url},
        modify_time = now()
        WHERE id = #{advertise.id}
    </update>

    <update id="updateAdvertiseDetail">
        UPDATE advertise
        SET advertise_detail = #{advertise.advertise_detail},
        first_title = #{advertise.first_title},
        second_title = #{advertise.second_title},
        head_url = #{advertise.head_url},
        modify_time = now()
        WHERE id = #{advertise.id}
    </update>

    <select id="findAdvertiseList" parameterType="com.duode.model.Advertise" resultMap="advertiseList">
      select * from advertise
    </select>

    <resultMap type="com.duode.model.Advertise" id="advertiseList">
        <result column="id" property="id"/>
        <result column="name"  property="name"/>
        <result column="advertiser_id" property="advertiser_id"/>
        <result column="advertise_detail"  property="advertise_detail"/>
        <result column="first_title"  property="first_title"/>
        <result column="second_title"  property="second_title"/>
        <result column="head_url"  property="head_url"/>
        <result column="comment" property="comment"/>
        <result column="status"  property="status"/>
        <result column="advertiser_url" property="advertiser_url"/>
        <result column="create_time"  property="create_time"/>
        <result column="modify_time"  property="modify_time"/>
    </resultMap>
</mapper>