<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duode.mapper.UserMapper">
 
    <select id="findUserInfo" resultType="com.duode.model.User">
      select * from user where user.id=#{id}
    </select>

    <insert id="addUser">
    insert into user(
        openid,
        unionid,
        avatar_url,
        nick_name,
        gender,
        session_key,
        create_time,
        modify_time
    )
    values (
        #{user.openid},
        #{user.unionid},
        #{user.avatar_url},
        #{user.nick_name},
        #{user.gender},
        #{user.session_key},
        now(),
        now()
    )
    </insert>

    <select id="getByUnionId" resultType="com.duode.model.User">
        select * from user where unionid=#{unionid}
    </select>

    <update id="updateUser">
        UPDATE user
        SET unionid = #{user.unionid},
        openid=#{user.openid},
        nick_name=#{user.nick_name},
        session_key=#{user.session_key},
        modify_time = now()
        WHERE id = #{user.id}
    </update>

    <update id="updateUserIntegration">
        UPDATE user
        SET integration = #{user.integration},
        modify_time = now()
        WHERE id = #{user.id}
    </update>
    <select id="findUserList" parameterType="com.duode.model.User" resultMap="userList">
      select * from user order by integration limit 10
    </select>

    <resultMap type="com.duode.model.User" id="userList">
        <result column="id" property="id"/>
        <result column="name"  property="name"/>
        <result column="unionid"  property="unionid"/>
        <result column="avatar_url" property="avatar_url"/>
        <result column="gender" property="gender"/>
        <result column="telephone"  property="telephone"/>
        <result column="nick_name" property="nick_name"/>
        <result column="session_key"  property="session_key"/>
        <result column="integration"  property="integration"/>
        <result column="cash"  property="cash"/>
        <result column="status"  property="status"/>
        <result column="create_time"  property="create_time"/>
        <result column="modify_time"  property="modify_time"/>
    </resultMap>
</mapper>